@model LikeSport.Web.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Any())
    {


        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders.OrderBy(m=>m.AuthenticationType))
                    {
                        if (p.AuthenticationType == "Facebook")
                        {
                            <button type="submit" class="btn btn-fb" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account"><i class="fa fa-facebook"></i> @p.AuthenticationType</button>

                        }
                        if (p.AuthenticationType == "Google")
                        {
                            <button type="submit" class="btn btn-danger" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account"><i class="fa fa-google"></i> @p.AuthenticationType &nbsp;</button>

                        }
                    }
                </p>
            </div>
        }
    }
}
